<!-- 表单 -->
<script type="text/javascript">
    $(document).ready(function () {
        $("#login").click(function () {
            $.post("/userlogin", $("#loginForm").serialize(),
                function (data) {
{#                    console.log(data);#}
                    if (data === "OK") {
                        document.getElementById("lerrorLine").innerHTML = "登录成功，请等待页面刷新";
                        location.reload();
                    } else {
                        document.getElementById("lerrorLine").innerHTML = data;
                    }
                });
        });
    });
</script>

<form id="loginForm">
    {% csrf_token %}
    <div class="item firstLine" id="firstLine">
        <span class="pop_title">登录</span>
        <span class="login_close" id="close_minilogin">×</span>
    </div>

    <div class="loginContent">
        <table>
            <tr>
                <td> 用户名：</td>
                <td><input type="text" name="userName"></td>
            </tr>
            <tr>
                <td>密码：</td>
                <td><input type="password" name="userPwd"></td>
            </tr>
        </table>
    </div>
    {#            <br>#}
    <div id="lerrorLine" class="error" style="color: red">

    </div>
    <button type="button" class="btn_login" id="login">登录</button>
    <button type="reset" id="cancelLogin" value=" cancel ">取消</button>
</form>