{% extends "base2.html" %}
{% block title %}修改密码{% endblock %}
{% block content %}

    <form action="/password/" method="post">
        {% csrf_token %}
        <table>
            <tr>
                <td>当前密码：</td>
                <td><input type="password" name="userPwd"></td>

            </tr>
            <tr>
                <td>新密码：</td>
                <td><input type="password" name="userNewPwd"></td>

            </tr>
            <tr>
                <td> 重复新密码：</td>
                <td><input type="password" name="userNewPwd2"></td>

            </tr>


            {#                判断密码是否相同 以及旧密码是否正确#}
            <br>

        </table>
        <button type="submit" value="submit" name="submit">提交</button>
        <button type="reset" value="cancel" name="cancel">取消</button>
    </form>


{% endblock %}