{% extends "base.html" %}
{% block title %}个人中心{% endblock %}
{% block content %}

    <script>
        window.onload = showPwd;
        function showPwd() {
            var pwd = document.getElementById("pwd");
            var notice = document.getElementById("notice");
            var pwdHref = document.getElementById("pwdHref");
            var noticeHref = document.getElementById("noticeHref");

            pwd.style.display = "block";
            notice.style.display = "none";
            pwdHref.style.backgroundColor = "rgba(0, 100, 0, 0.7)";
            noticeHref.style.backgroundColor = "rgba(0, 0, 0, 0)";


        }

        function showNotice() {
            var pwd = document.getElementById("pwd");
            var notice = document.getElementById("notice");
            var pwdHref = document.getElementById("pwdHref");
            var noticeHref = document.getElementById("noticeHref");

            pwd.style.display = "none";
            notice.style.display = "block";
            pwdHref.style.backgroundColor = "rgba(0, 0, 0, 0)";
            noticeHref.style.backgroundColor = "rgba(0, 100, 0, 0.7)";

        }

        $(document).ready(function () {
            $("#changepwd").click(function () {
                $.post("/password", $("#pwd").serialize(),
                    function (data) {
                        if (data === "OK") {
                            document.getElementById("perrorLine").innerHTML = "修改密码成功！";
                            location.reload();
                        } else {
                            document.getElementById("perrorLine").innerHTML = data;
                        }
                    });
            });
            $("#updateinfo").click(function () {
                $.post("/noticeWay", $("#notice").serialize(),
                    function (data) {
                        document.getElementById("nerrorLine").innerHTML = data;
                    });
            });
        });
    </script>
    <div class="nav_mod_vertical">

        <ul>
            <li>
                <a href="#password" onclick="showPwd()"
                   id="pwdHref"> 修改密码</a>
            </li>
        </ul>
        <ul>
            <li>
                <a href="#noticeWay" onclick="showNotice()"
                   id="noticeHref"> 修改通知方式</a>

            </li>
        </ul>
    </div>

    <form id="pwd">
        {% csrf_token %}
        <table>
            <tr>
                <td align="right">当前密码：</td>
                <td><input type="password" name="userPwd"></td>
            </tr>
            <tr>
                <td align="right">新密码：</td>
                <td><input type="password" name="userNewPwd"></td>
            </tr>
            <tr>
                <td align="right"> 重复新密码：</td>
                <td><input type="password" name="userNewPwd2"></td>
            </tr>
            <br>
        </table>
        <div id="perrorLine" class="error" style="color: red">
        </div>
        <button type="button" id="changepwd">提交</button>
        <button type="reset" value="cancel" name="cancel">清空</button>
    </form>

    <form id="notice">
        {% csrf_token %}<br>
        <table>
            <tr>
                <td align="right">修改城市：</td>
                <td align="center">
                    <select name="userCity">
                        <option value="Beijing" {% ifequal city_str "Beijing" %}selected="selected" {% endifequal %}>
                            北京
                        </option>
                        <option value="Shanghai" {% ifequal city_str "Shanghai" %}selected="selected" {% endifequal %}>
                            上海
                        </option>
                        <option value="Guangzhou"
                                {% ifequal city_str "Guangzhou" %}selected="selected" {% endifequal %}>广州
                        </option>
                        <option value="Shenzhen" {% ifequal city_str "Shenzhen" %}selected="selected" {% endifequal %}>
                            深圳
                        </option>
                        <option value="Hangzhou" {% ifequal city_str "Hangzhou" %}selected="selected" {% endifequal %}>
                            杭州
                        </option>
                        <option value="Tianjin" {% ifequal city_str "Tianjin" %}selected="selected" {% endifequal %}>
                            天津
                        </option>
                        <option value="Chengdu" {% ifequal city_str "Chengdu" %}selected="selected" {% endifequal %}>
                            成都
                        </option>
                        <option value="Nanjing" {% ifequal city_str "Nanjing" %}selected="selected" {% endifequal %}>
                            南京
                        </option>
                        <option value="Xian" {% ifequal city_str "Xian" %}selected="selected" {% endifequal %}>
                            西安
                        </option>
                        <option value="Wuhan" {% ifequal city_str "Wuhan" %}selected="selected" {% endifequal %}>
                            武汉
                        </option>
                    </select>
                </td>
            </tr>
            <tr>
                <td> 修改邮箱账号：</td>
                <td><input type="text" name="email"></td>
            </tr>
            <tr>
                <td> 修改手机号码：</td>
                <td><input type="text" name="phone"></td>
            </tr>
        </table>
        修改通知方式：
        <input type="checkbox" name="byEmail">电子邮箱
        <input type="checkbox" name="byPhone">手机
        <input type="checkbox" name="noNotice">不想收到通知
        <br>
        <div id="nerrorLine" class="error" style="color: red">

        </div>
        <button type="button" id="updateinfo">提交</button>
        <button type="reset" value="cancel" name="cancel">清空</button>
    </form>

{% endblock %}