{% extends "base.html" %}
{% load static %}
{% block title %}个人中心{% endblock %}
{% block content %}
    <script>
        window.onload = showPwd;
        function showPwd() {
            var pwd = document.getElementById("pwd");
            var notice = document.getElementById("notice");
            var pwdHref = document.getElementById("pwdHref");
            var noticeHref = document.getElementById("noticeHref");

            pwd.style.display = "block";
            notice.style.display = "none";
            pwdHref.style.backgroundColor = "rgba(0, 100, 0, 0.7)";
            noticeHref.style.backgroundColor = "rgba(0, 0, 0, 0)";


        }

        function showNotice() {
            var pwd = document.getElementById("pwd");
            var notice = document.getElementById("notice");
            var pwdHref = document.getElementById("pwdHref");
            var noticeHref = document.getElementById("noticeHref");

            pwd.style.display = "none";
            notice.style.display = "block";
            pwdHref.style.backgroundColor = "rgba(0, 0, 0, 0)";
            noticeHref.style.backgroundColor = "rgba(0, 100, 0, 0.7)";

        }

    </script>
    <div class="nav_mod_vertical">

        <ul>
            <li>
                <a href="#password" onclick="showPwd()"
                   id="pwdHref"> 修改密码</a>
            </li>
        </ul>
        <ul>
            <li>
                <a href="#noticeWay" onclick="showNotice()"
                   id="noticeHref"> 修改通知方式</a>

            </li>
        </ul>
    </div>

    <form action="/password" method="post" id="pwd">
        {% csrf_token %}
        <table>
            <tr>
                <td align="right">当前密码：</td>
                <td><input type="password" name="userPwd"></td>

            </tr>
            <tr>
                <td align="right">新密码：</td>
                <td><input type="password" name="userNewPwd"></td>

            </tr>
            <tr>
                <td align="right"> 重复新密码：</td>
                <td><input type="password" name="userNewPwd2"></td>

            </tr>


            {#                判断密码是否相同 以及旧密码是否正确#}
            <br>

        </table>
        <button type="submit" value="submit" name="submit">提交</button>
        <button type="reset" value="cancel" name="cancel">清空</button>
    </form>

    <form action="/noticeWay" method="post" id="notice">
        {% csrf_token %}<br>
        <table>
            <tr>
                <td align="right">修改城市：</td>
                <td align="center">
                    <select name="userCity">
                        <option value="Beijing">北京</option>
                        <option value="Shanghai">上海</option>
                        <option value="Guangzhou">广州</option>
                        <option value="Shenzhen">深圳</option>
                        <option value="Hangzhou">杭州</option>
                        <option value="Tianjin">天津</option>
                        <option value="Chengdu">成都</option>
                        <option value="Nanjing">南京</option>
                        <option value="Xian">西安</option>
                        <option value="Wuhan">武汉</option>
                    </select>
                    <script>
                        document.getElementsByTagName("select")[0].value = {{ city_str }};
                    </script>
                </td>

            </tr>
            <tr>
                <td> 修改邮箱账号：</td>
                <td><input type="text" name="email"></td>
            </tr>
            <tr>
                <td> 修改手机号码：</td>
                <td><input type="text" name="phone"></td>
            </tr>
        </table>

        修改通知方式：
        <input type="checkbox" name="byEmail">电子邮箱
        <input type="checkbox" name="byPhone">手机
        <input type="checkbox" name="noNotice">不想收到通知
        <br>
        <button type="submit" value="submit" name="submit">提交</button>
        <button type="reset" value="cancel" name="cancel">清空</button>
    </form>



{% endblock %}