{% extends "base.html" %}

{% block title %}PM2.5预报{% endblock %}
{% block content %}
    {{ city_note }} <br/>
    更新时间：{{ time | date:"Y-m-d H:i:s" }} <br/>
    <table border="0" cellspacing="30">
        {% for sta, list in dict.items %}
            <tr>
                <td>{{ sta }} </td>
                {% for x in list %}
                    {% ifnotequal x -1 %}
                        <td>{{ x }}</td>
                    {% endifnotequal %}
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
    {#        显示趋势图#}
    <pre>{{ suggest }} </pre>
{% endblock %}