{% extends "base.html" %}
{% load static %}

{% block title %}PM2.5实时预报{% endblock %}
{% block content %}
    <div class="city">
        <img src="{% static '/images/pos.png' %}" style="width: 40px;">{{ city_note }}
    </div>
    <span class="time">更新于{{ time | date:"Y-m-d H:i:s" }}</span>
    <div class="predtable">
        <span style="font-size: 1.8em">{{ city_note }}各站点PM2.5数据</span>

        <br>
        (点击站点名称可查看未来6小时PM2.5趋势图)
        <br>
        <table rules="rows" width="98%">
            <thead>
            <tr>
                <th width="23%">站点</th>
                <th width="11%">实时</th>
                <th width="11%">1小时内</th>
                <th width="11%">1-2小时</th>
                <th width="11%">2-3小时</th>
                <th width="11%">3-4小时</th>
                <th width="11%">4-5小时</th>
                <th width="11%">5-6小时</th>
            </tr>
            </thead>
            <tbody>
            {% for sta, list in dict.items %}
                <tr>
                    <td class="pmtd" onclick="draw('{{ sta }}',{{ list }})">{{ sta }}</td>

                    {% for x in list %}
                        <td>{{ x }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}</tbody>
        </table>
    </div>

    <script>
        function draw(sta, data) {

            var content = document.getElementsByClassName("content")[0];
            var pmcharpic = document.createElement("div");
            pmcharpic.style.width = "900px";
            pmcharpic.id = "pmcharpic";

            var firstLine = document.createElement("div");
            var title = document.createElement("span");
            var biaoti = document.createTextNode(sta + "实时PM2.5及预测");
            var closet = document.createElement("span");
            closet.id = "close_pic";
            var chacha = document.createTextNode("×");
            var pmlinechart = document.createElement("canvas");

            title.style.fontFamily = "Microsoft YaHei";

            closet.appendChild(chacha);
            closet.onclick = removethis;
            title.appendChild(biaoti);
            firstLine.appendChild(title);
            firstLine.appendChild(closet);
            pmcharpic.appendChild(firstLine);
            pmcharpic.appendChild(pmlinechart);
            content.appendChild(pmcharpic);
            pmcharpic.style.cssText = "position: fixed;text-align:center;top:100px;z-index: 999;background:	#F0FFFF;width: 1000px;border-radius: .5em;-moz-border-radius: .5em;-webkit-border-radius: .5em;padding-left:30px;padding-top:20px;padding-right:30px;padding-bottom:15px";
            firstLine.style.cssText = "color: black;font-size: 2em;font-weight: bold;border-radius: .5em;-moz-border-radius: .5em;-webkit-border-radius: .5em;";
            closet.style.cssText = "color:grey;display: inline-block;float: right;margin-right: 5px;cursor: pointer;";
            var chart = new Chart(pmlinechart, {
                type: 'line',
                data: {
                    labels: ['实时', '1小时内', '1-2小时', '2-3小时', '3-4小时', '4-5小时', '5-6小时'],
                    datasets: [
                        {
                            label: "PM2.5",
                            fill: false,
                            lineTension: 0.1,
                            backgroundColor: "rgba(255, 206, 86, 0.6)",
                            borderColor: "rgba(255, 206, 86, 1)",
                            borderCapStyle: 'butt',
                            borderDash: [],
                            borderDashOffset: 0.0,
                            borderJoinStyle: 'miter',
                            pointBorderColor: "rgba(255, 206, 86, 1)",
                            pointBackgroundColor: "#fff",
                            pointBorderWidth: 6,
                            pointHoverRadius: 6,
                            pointHoverBackgroundColor: "rgba(255, 206, 86, 1)",
                            pointHoverBorderColor: "rgba(218,165,32,1)",
                            pointHoverBorderWidth: 3,
                            pointRadius: 1,
                            pointHitRadius: 10,
                            data: data,

                            spanGaps: false

                        }
                    ]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                fontColor: "black",
                                beginAtZero: true
                            }
                        }],
                         xAxes: [{
                            ticks: {
                                fontColor: "black",
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
            if (pmcharpic) {
                console.log(pmcharpic);
            }
            var cover = document.getElementsByClassName("cover")[0];
            cover.style.display = "block";
            cover.style.position = "fixed";
        }
        function removethis() {
            var ele = document.getElementById('pmcharpic');
            var parentEle = ele.parentNode;
            parentEle.removeChild(ele);
            var cover = document.getElementsByClassName("cover")[0];
            cover.style.display = "none";
        }
    </script>
{% endblock %}