{% extends "base.html" %}

{% block title %}PM2.5预报{% endblock %}
{% block content %}
    <p>
        {{ city_note }} <br/>
        更新时间：{{ time | date:"Y-m-d H:i:s" }} <br/>
        {% for row in list %}
            站点：{{ row.station }} &nbsp;
            PM2.5：
            {% ifequal row.pm25 -1 %}
                看什么看
            {% else %}
                {{ row.pm25 }}
            {% endifequal %}
            <br/>
        {% endfor %}
{#        显示趋势图#}
    <pre>{{ suggest }} </pre>
    </p>
{% endblock %}