{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>js制作带有遮罩弹出层实现登录小窗口</title>

</head>
<body>



<h1>该页面已废弃！</h1>

<form action="" method="post">
            <div class="item firstLine" id="firstLine">
                <span class="pop_title">注册</span>
                <span class="register_close" id="close_miniregister">×</span>
            </div>
            <div class="registerContent">
                <table>
                    <tr>
                        <td> 用户名：</td>
                        <td><input type="text" name="userName"></td>
                    </tr>
                    <tr>

                        <td>密码：</td>
                        <td><input type="password" name="userPwd"></td>

                    </tr>
                    <tr>
                        <td>重复密码：</td>
                        <td><input type="password" name="userPwd2"></td>
                        {#                    判断密码是否相同#}
                    </tr>
                    <tr>

                        <td> 电子邮箱：</td>
                        <td><input type="text" name="userEmail"></td>

                    </tr>
                    <tr>

                        <td> 手机：</td>
                        <td><input type="text" name="userPhone"></td>

                    </tr>
                    <tr>
                        <td> 常用城市：</td>

                        <td align="center"><select name="userCity">
                            <option value="Beijing">北京</option>
                            <option value="Shanghai">上海</option>
                            <option value="Guangzhou">广州</option>
                            <option value="Shenzhen">深圳</option>
                            <option value="Hangzhou">杭州</option>
                            <option value="Tianjing">天津</option>
                            <option value="Chengdu">成都</option>
                            <option value="Nanjing">南京</option>
                            <option value="Xian">西安</option>
                            <option value="Wuhan">武汉</option>
                        </select></td>
                    </tr>


                </table>
            </div>


            想要收到通知的方式：
            <input type="checkbox" name="byEmail">电子邮箱
            <input type="checkbox" name="byPhone">手机
            <input type="checkbox" name="noNotice">不想收到通知
            <br>

            <input type="button" class="btn_register" value=" 注册 ">

            <input type="button" id="cancelRegister" value=" 取消 ">
        </form>

</body>
</html>
