<!-- 表单 -->
<script type="text/javascript">
    $(document).ready(function () {
        $("#register").click(function () {
            $.post("/register", $("#registerForm").serialize(),
                function (data) {
{#                    console.log(data);#}
                    if (data === "OK") {
                        document.getElementById("errorLine").innerHTML = "注册成功，请等待页面刷新";
                        location.reload();
                    } else {
                        document.getElementById("errorLine").innerHTML = data;
                    }
                });
        });
        var form = document.getElementById("registerForm");
        var byEmail = form.elements[7];
        var byPhone = form.elements[8];
        var noNotice = form.elements[9];
        $(byEmail).change(function () {
            if (byEmail.checked) {
                noNotice.checked=false;
            }
        });
        $(byPhone).change(function () {
            if (byPhone.checked) {
                noNotice.checked=false;
            }
        });
        $(noNotice).change(function () {
            if (noNotice.checked) {
                byEmail.checked=false;
                byPhone.checked=false;
            }
        });
    });
</script>

<form id="registerForm">
    {% csrf_token %}
    <div class="item firstLine" id="AtFirstLine">
        <span class="pop_title">注册</span>
        <span class="register_close" id="close_miniregister">×</span>
    </div>

    <div class="registerContent">
        <table>
            <tr>
                <td> 用户名：</td>
                <td><input type="text" name="userName"></td>
            </tr>
            <tr>

                <td>密码：</td>
                <td><input type="password" name="userPwd"></td>

            </tr>
            <tr>
                <td>重复密码：</td>
                <td><input type="password" name="userPwd2"></td>
            </tr>
            <tr>
                <td> 电子邮箱：</td>
                <td><input type="text" name="userEmail"></td>
            </tr>
            <tr>
                <td> 手机：</td>
                <td><input type="text" name="userPhone"></td>
            </tr>
            <tr>
                <td> 常用城市：</td>
                <td align="center"><select name="userCity">
                    <option value="Beijing">北京</option>
                    <option value="Shanghai">上海</option>
                    <option value="Guangzhou">广州</option>
                    <option value="Shenzhen">深圳</option>
                    <option value="Hangzhou">杭州</option>
                    <option value="Tianjing">天津</option>
                    <option value="Chengdu">成都</option>
                    <option value="Nanjing">南京</option>
                    <option value="Xian">西安</option>
                    <option value="Wuhan">武汉</option>
                </select></td>
            </tr>
        </table>
    </div>

    想要收到通知的方式：
    <input type="checkbox" name="byEmail">电子邮箱
    <input type="checkbox" name="byPhone">手机
    <input type="checkbox" name="noNotice">不想收到通知
    <br>
    <div id="errorLine"  class="error" style="color: red">

    </div>
    <button type="button" id="register">注册</button>
    <button type="reset" id="cancelRegister" value="cancel">取消</button>

</form>