{% extends "base.html" %}
{% load static %}

{% block title %}实时天气{% endblock %}
{% block content %}

    {% ifequal status_note 'OK' %}
        <div class="city">
            <img src="{% static '/images/pos.png' %}" style="width: 40px;">{{ city_note }}
        </div>
        <div class="temperature">
            {{ now.tmp }}℃

            <span class="nowWeather"> {{ now.cond }}</span>
            <span class="time">更新于{{ now.time | date:"Y-m-d H:i:s" }}</span>
        </div>
        <div class="hum">
            湿度 {{ now.hum }}%
            <span class="wind">
                {{ now.wind_dir }}&nbsp;{{ now.wind_sc }}
            </span>
        </div>
        {#        <br>{{ llsit }}#}
        {#        <br>{{ dlist }}#}
        <br>
        <script src={% static '/js/Chart.js' %}></script>
        <div class="weatherPic" style="width: 900px;">
            <div class="sixhpred">
                六小时预报
            </div>

            <canvas id="tqlinechart"></canvas>
        </div>
        {% autoescape off %}
            <script>
                var ctx = document.getElementById("tqlinechart");
                var chart = new Chart(ctx, {
                        type: 'line',
                        data: {
                            labels: {{ llsit }},
                            datasets: [
                                {
                                    label: "温度",
                                    fill: false,
                                    lineTension: 0.1,
                                    backgroundColor: "rgba(75,192,192,0.4)",
                                    borderColor: "rgba(75,192,192,1)",
                                    borderCapStyle: 'butt',
                                    borderDash: [],
                                    borderDashOffset: 0.0,
                                    borderJoinStyle: 'miter',
                                    pointBorderColor: "rgba(75,192,192,1)",
                                    pointBackgroundColor: "#fff",
                                    pointBorderWidth: 6,
                                    pointHoverRadius: 6,
                                    pointHoverBackgroundColor: "rgba(75,192,192,1)",
                                    pointHoverBorderColor: "rgba(220,220,220,1)",
                                    pointHoverBorderWidth: 3,
                                    pointRadius: 1,
                                    pointHitRadius: 10,
                                    data: {{ dlist }},
                                    spanGaps: false
                                }
                            ]
                        },
                        options: {
                            scales: {

                                yAxes: [{
                                    ticks: {
                                        min: {{ tmin }},
                                        max: {{ tmax }},
                                        fixedStepSize: 1
                                    }
                                }]
                            }
                        }
                    })
                ;
            </script>
        {% endautoescape %}
        <r><br>
        <div class="suggestion">
        <div class="sugTitle">生活建议</div>

            <table >

                <tr>
                    <td>
                        紫外线指数
                        <br>
                        {{ suggest.紫外线指数.0 }}
                    </td>
                      <td>
                        感冒指数
                          <br>
                          {{ suggest.感冒指数.0 }}
                    </td>
                     <td>
                        舒适指数
                         <br>

                        {{ suggest.舒适指数.0 }}
                    </td>
                      <td class="lastTd">
                        穿衣
                         <br>
                         {{ suggest.穿衣建议.0}}
                      </td>
                </tr>
                <tr>

                    <td>
                        运动
                       <br>
                        {{ suggest.运动建议.0 }}
                    </td>
                    <td>
                        旅游
                        <br>
                        {{ suggest.旅游建议.0 }}
                    </td>
                    <td>
                        洗车
                        <br>
                        {{ suggest.洗车建议.0 }}
                    </td>
                    <td class="lastTd">

                        <br>

                    </td>



                </tr>
            </table>


        </div>
        {% for k,v in suggest.items %}
            {{ k }}：{{ v.0 }} <br/>
            {{ v.1 }}<br/>
        {% endfor %}
    {% else %}
        Something Happened!!!
    {% endifequal %}

{% endblock %}