{% extends "base.html" %}
{% load static %}

{% block title %}天气预报{% endblock %}
{% block content %}
    <div class="city">
        <img src="{% static '/images/pos.png' %}" style="width: 40px;">{{ city_note }}
    </div>
    <span class="time">更新于{{ time | date:"Y-m-d H:i:s" }}</span>

    <br>
    <br>
    <div class="preWea">
        <div class="preWeaTitle">预报</div>
        <div class="preWeaInfo">
            <table>
                <tr>
                    <td>日期</td>
                    <td>最高温度</td>
                    <td>最低温度</td>
                    <td>降水量</td>
                    <td>压力</td>
                    <td>湿度</td>
                    <td>能见度</td>
                      
                </tr>
                {% for row in list %}
                    <tr >
                        <td>{{ row.date | date:"Y-m-d" }}</td>
                        <td>{{ row.tmp_max }}℃</td>
                        <td>{{ row.tmp_min }}℃</td>
                        <td>{{ row.pcpn }}mm</td>
                        <td>{{ row.pres }}hPa</td>
                        <td>{{ row.hum }}%</td>
                        <td>{{ row.vis }}km</td>

                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>

    {#    显示趋势图#}

{% endblock %}