{% extends "base.html" %}
{% load static %}

{% block title %}天气预报{% endblock %}
{% block content %}
    <div class="city">
        <img src="{% static '/images/pos.png' %}" style="width: 40px;">{{ city_note }}
    </div>
    <span class="time">更新于{{ time | date:"Y-m-d H:i:s" }}</span>
    <p>
    <ul>
        {% for row in list %}
            <li>
                日期：{{ row.date | date:"Y-m-d" }}<br/>
                最高温：{{ row.tmp_max }}<br/>
                最低温：{{ row.tmp_min }}<br/>
                降水量：{{ row.pcpn }}<br/>
                压力：{{ row.pres }}<br/>
                湿度：{{ row.hum }}<br/>
                能见度：{{ row.vis }}<br/>
                <br/>
            </li>
        {% endfor %}
    </ul>
    {#    显示趋势图#}
    </p>
{% endblock %}