{% extends "base2.html" %}
{% block title %}修改密码{% endblock %}
{% block content %}
    <p>

    <form action="password.html" method="post">
        <table>
            <tr>
                <td>当前密码：</td>
                <td><input type="password" name="userPwd"></td>

            </tr>
            <tr>
                <td>新密码：</td>
                <td><input type="password" name="userNewPwd"></td>

            </tr>
            <tr>
                <td> 重复新密码：</td>
                <td><input type="password" name="userNewPwd2"></td>

            </tr>


            {#                判断密码是否相同 以及旧密码是否正确#}
            <br>

        </table>
        <input type="button" value="提交" name="submit">
        <input type="button" value="取消" name="cancel">
    </form>

    </p>
{% endblock %}