{% extends "base.html" %}

{% block title %}实时PM2.5{% endblock %}
{% block content %}
    <p>
        {{ city_note }} <br/>
        {% ifequal status_note 'OK' %}
            更新时间：{{ time | date:"Y-m-d H:i:s" }} <br/>
            PM2.5：{{ now.pm25 }} <br/>
            能见度：{{ now.vis }} <br/>
            AQI：{{ now.aqi }}  {{ now.aqi_str }} <br/>
            显示趋势图<br><br>
            {% for row in list %}
                站点：{{ row.station }} &nbsp;
                PM2.5：{{ row.pm25 }}
                <br/>
            {% endfor %}
        {% else %}
            粗问题辣，啥都木有。
        {% endifequal %}
    </p>
{% endblock %}