{% extends "base.html" %}

{% block title %}实时PM2.5{% endblock %}
{% block nav3 %}current{% endblock %}

{% block content %}
    {{ city_note }} <br/>
    更新时间：{{ time }} <br/>
    PM2.5：{{ now.pm25 }} <br/>
    能见度：{{ now.vis }} <br/>
    AQI：{{ now.aqi }}  {{ now.aqi_str }} <br/>
{#    显示趋势图#}
    <ul>
        {% for row in list %}
            <li>
                站点：{{ row.station }} &nbsp;
                PM2.5：
                {% ifequal row.pm25 -1 %}
                    看什么看
                {% else %}
                    {{ row.pm25 }}
                {% endifequal %}
                <br/>
            </li>
        {% endfor %}
    </ul>
{% endblock %}